body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#title {
    text-align: center;
}

#rps-image {
    width: 300px;
    display: block; 
}

#play-btn {
    display: block;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 2rem;
    
}

#play-btn:hover {
    background-color: #333
}