/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Custom Styles */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}