/* Variables */
:root {
    --PRIMARY-COLOR: #55F;
    --WEBSITE-WIDTH: 1200px;
    --CUSTOM-FONT: 'Ubuntu', sans-serif;
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Utilities */

.container {
    max-width: var(--WEBSITE-WIDTH);
    margin: 0 auto;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
}

/* Custom Styles */
body {
    font-family: var(--CUSTOM-FONT);
    background-color: #eee;
}

header {
    background-color: #333;
    height: 4rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


header .container nav {
    display: flex;
    justify-content: row;
    align-items: center;
    height: 100%;
}


header .container nav a {
    color: #fff;
    padding: 1rem 2rem;
}

header .container nav a:hover {
    background-color: var(--PRIMARY-COLOR);
}

#about {
    padding: 1rem;
}

#about .about-photo-container img{
    border-radius: 50%;
    width: 300px;
}

#about #about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about .about-summary {
    max-width: calc(var(--WEBSITE-WIDTH) / 2);
    font-size: 1.4rem;
}