/* Variables */
:root {
    --PRIMARY-COLOR: #55F;
    --WEBSITE-WIDTH: 1200px;
    --CUSTOM-FONT: 'Ubuntu', sans-serif;
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

a {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Utilities */

.container {
    max-width: var(--WEBSITE-WIDTH);
    margin: 0 auto;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}

/* Custom Styles */
body {
    font-family: var(--CUSTOM-FONT);
    background-color: #333;
}

header {
    background-color: #333;
    width: 100%;
}

header .logo {
    padding: 0.8rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


header .container nav {
    display: flex;
    justify-content: row;
    align-items: center;
    height: 100%;
}


header .container nav a {
    color: #fff;
    padding: 1rem 2rem;
}

header .container nav a:hover {
    background-color: var(--PRIMARY-COLOR);
    border-radius: 5px;
}

#about {
    padding: 1rem;
    background-color: #eee;
}

#about #about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-photo-container{
    border-radius: 50%;
    max-width: 300px;
    margin: 0 1rem;
}

#about .about-photo-container img {
    object-fit: cover;
    border-radius: 50%;
}

#about .about-summary {
    max-width: calc(var(--WEBSITE-WIDTH) / 2);
    font-size: 1.2rem;
    hyphens: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 1rem;
}

#about .about-summary h4 {
    margin-bottom: 1rem;
}

#about .about-summary code {
    color: var(--PRIMARY-COLOR)
}

#portfolio {
    color: #fff;
    padding: 2rem;
    text-align: center;
}

#portfolio .section-title + p a{
    color: var(--PRIMARY-COLOR);
}

#portfolio .project-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

#portfolio .project-items .project{
    width: 30%;
}

#portfolio .project-items .project .project-photo{
    display: flex;
    justify-content: center;
}

#portfolio .project-items .project img{
    object-fit: cover;
    height: 240px;
    width: 100%;
    border-radius: 5px;
}


#portfolio .project-items .project .project-summary {
    text-align: center;
}

#portfolio .project-items .project .project-title {
    color: var(--PRIMARY-COLOR);
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

#resume {
    background-color: #eee;
    padding: 2rem;
}

#resume .resume-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume .resume-btns .view-resume-btn, #resume .resume-btns .download-resume-btn{
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--PRIMARY-COLOR);
    color: #fff;
    border-radius: 5px;
}

footer {
    color: #fff;
    padding: 1rem;
}

footer .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social-links li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0 1rem;
    height: 2rem;
    width: 2rem;
}

footer .social-links li a:hover{
    color: var(--PRIMARY-COLOR);
    border-color: var(--PRIMARY-COLOR);
}

/* Phone Media query*/
@media (max-width: 420px) {

    header {
        position: sticky;
        top: 0;
        opacity: 0.95;
    }

    header .container {
        flex-direction: column;
    }

    header .container nav  {
        justify-content: space-around;
    }

    header .container nav a{
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    #about .container #about-content{
        flex-direction: column;
    }

    #about .container .about-photo-container {
        margin-bottom: 1rem;
    }

    #portfolio .project-items {
        flex-direction: column;
    }

    #portfolio .project-items .project {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}